<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
          <div class="landing-title">
    <div class="landing-icons">
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:subasavasa@hotmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/redhcp"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/Th3Ces4r"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Dev" target="_blank" href="https://dev.to/redhcp"><i class="icon fa fa-deviantart" aria-hidden="true"></i></a>
        <a aria-label="My DocFiles" target="_blank" href="https://redhcp.github.io/redhcp-docs.github.io/"><i class="icon fa fa-files-o" aria-hidden="true"></i></a>
      </div>
    
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
